.mat-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon
{
    margin:0;
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #b4bcc2;
}

.chip {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.chip-success {
    background-color: #18bc9c;
}

.chip-danger {
    background-color: #e74c3c;
}

.cadd-btn {
    padding: 8px 65px;
}

.searchInput {
    float: right;
}

.titleInput {
    width: 290px;
    height: 32px;
}

input[type="text"] {
    font-size: 14px;
    padding-left: 5px;
}

button {
    width: 60px;
    height: 42px;
    margin-left: 5px;
    padding: 0;
}

.material-icons {
    font-size: 22px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

h3, h4, p{
    margin: 0;
}

.opHours {
    margin: 0 auto 30px auto;
    width: 1200px;
    height: auto;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 3px 3px 4px #dddddd;
    text-align: center;
}

.opHours h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(240, 59, 14);
}

.opHours p {
    margin-bottom: 20px;
    margin-left: 20px;
}

.bookCard {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1200px;
    /* border: 1px solid rgb(199, 199, 199); */
}

.bookDetails {
    float: left;
    width: 1060px;
    height: 150px;
    margin-bottom: 30px;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}

.bookDetails h3 {
    font-size: 22px;
    font-weight: bold;
}

.bookDetails h3:hover {
    color: rgb(240, 59, 14);
    text-decoration: underline;
    cursor: pointer;
}

.bookDetails p {
    margin: 3px 0;
}

.bookImage {
    float: left;
    margin-right: 30px;
    width: 110px;
    height: auto;
}

.bookImage img {
    width: 100%;
    height: 150px;
}

.showBtn {
    background: none;
    color: #ca011f;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 10px;
}

.showBtn:hover {
    color: rgb(240, 59, 14);
    text-decoration: underline;
}

.message {
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 30px 0;
    width: 1200px;
    height: auto;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 3px 3px 4px #dddddd;
}

.message i {
    font-size: 28px;
    color: red;
    position: relative;
    top: 6px;
    left: -4px;
}

.message h3 {
    font-size: 20px;
}







.libHours {
    margin: 0 auto 20px auto;
    width: 1360px;
    height: 40px;
    /* background-color: blue; */
}

.switchDiv {
    margin: 0;
    float: left;
    width: 50px;
    height: 36px;
    padding-top: 4px;
    /* background-color: purple; */
}

.sliderTextDiv {
    width: 140px;
    height: 40px;
    float: left;
    /* background-color: yellow; */
}

.switchText {
    margin: 0;
    float: left;
    width: 96%;
    padding-top:6px;
}

.hideShowText {
    margin-top: 6px;
}

.bookSearchDiv {
    width: 300px;
    height: 40px;
    float: right;
    /* background-color: orange; */
}

.bookSearchDiv .material-icons {
    position: absolute;
    top: 91px;
    left: 1366px;
    font-weight: bold;
    font-size: 26px;
    color: rgb(156, 156, 156);
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .2s;
  border: 1px solid rgb(180, 180, 180);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid rgb(180, 180, 180);
}

input:checked + .slider {
  background-color: rgb(240, 59, 14);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(240, 59, 14);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}