<div class="libHours">
  <div class="switchDiv">
    <label class="switch">
      <input type="checkbox" [(ngModel)]="showOperatingHours">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="switchText">
    <span>{{ showOperatingHours ? 'Hide' : 'Show' }} library hours</span>
    <span class="searchInput">Search by Book Title: <input class="titleInput" type="text" placeholder="Book Title"><button (click)="findBooks">Search</button></span>
  </div>
  <div>
    
  </div>
</div>

<div [hidden]="!showOperatingHours" class="opHours">
  <h3><strong>Operating Hours</strong></h3>
  <p>{{ openingTime | date:'shortTime'}} - {{ closingTime | date:'shortTime'}} (M-F)</p>
</div>

<div class="bookCard" *ngFor="let book of books[0]">
  <div class="bookImage">
    <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Book Cover Image">
  </div>
  <div class="bookDetails" ng-class="{show: show}">
    <h3>{{ book.volumeInfo.title }}</h3>
    <p>Author: {{ book.volumeInfo.authors[0] }}</p>
    <p>Publisher: {{ book.volumeInfo.publisher }}</p>
    <p>Published: {{ book.volumeInfo.publishedDate | date: 'longDate'}}</p>
    <p>Pages: {{ book.volumeInfo.pageCount }}</p>
    <p *ngIf="book.volumeInfo.description != null">Description: <a href="">Show</a></p>
  </div>
</div>

