<div class="libHours">
  <div class="switchDiv">
    <label class="switch">
      <input type="checkbox" [(ngModel)]="showOperatingHours">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="sliderTextDiv">
    <p class="hideShowText">{{ showOperatingHours ? 'Hide' : 'Show' }} library hours</p>
  </div>

  <div class="bookSearchDiv" (keydown)="keyDownSearch($event, textbox.value)">
    <span class="material-icons" (click)="searchBooks(textbox.value)">search</span>
    <input class="titleInput" type="text" placeholder="Search by Book Title or Author..." #textbox [(ngModel)]="inputValue" >
  </div>
</div>

<div [hidden]="!showOperatingHours" class="opHours">
  <h3>
    <strong>Operating Hours</strong>
  </h3>
  <p>{{ openingTime | date:'shortTime'}} - {{ closingTime | date:'shortTime'}} (M-F)</p>
</div>

<div *ngIf="books.length == 0" class="message">
  <h3><i class="material-icons">highlight_off</i> Currently no books match your search.</h3>
</div>

<div class="bookCard" *ngFor="let book of books[0]">
  <div class="bookImage">
    <img *ngIf="book.volumeInfo.hasOwnProperty('imageLinks')" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="">
    <img *ngIf="!book.volumeInfo.hasOwnProperty('imageLinks')" src="assets/no-cover.png" alt="">
  </div>
  <div class="bookDetails" ng-class="{show: show}">
    <h3 (click)="openDialog(book)">{{ book.volumeInfo.title }}</h3>
    <p>Author: {{ book.volumeInfo.authors }}</p>
    <p>Publisher: {{ book.volumeInfo.publisher }}</p>
    <p>Published: {{ book.volumeInfo.publishedDate | date: 'longDate'}}</p>
    <p>Pages: {{ book.volumeInfo.pageCount }}</p>
    <!-- <p *ngIf="book.volumeInfo.description != null">Description: <a href="" (click)="getDetails(book.id)">Show</a></p> -->
    <p *ngIf="book.volumeInfo.description != null">Description:
      <button class="showBtn" (click)="openDialog(book)">Show</button>
    </p>
  </div>
</div>