<div *ngIf="book">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h4>{{book.volumeInfo.title}}</h4></mat-card-title>
      <mat-card-subtitle>{{book.volumeInfo.authors}}</mat-card-subtitle>
      <img mat-card-avatar src="assets/book.png" alt="">
    </mat-card-header>
    <mat-card-content>
      <div>
        <label for="">
          <strong>Book Id:</strong>
        </label>
        <span>{{book.id}}</span>
      </div>
      <div>
        <label for="">
          <strong>Category:</strong>
        </label>
        <span>{{book.volumeInfo.categories}}</span>
      </div>
      <div>
        <label for="">
          <strong>Language:</strong>
        </label>
        <span>{{book.volumeInfo.language}}</span>
      </div>
      <div>
        <label for="">
          <strong>Maturity Rating:</strong>
        </label>
        <span>{{book.volumeInfo.maturityRating}}</span>
      </div>
      <div>
        <label for="">
          <strong>Page Count:</strong>
        </label>
        <span>{{book.volumeInfo.pageCount}}</span>
      </div>
      <div>
        <label for="">
          <strong>Publish Date:</strong>
        </label>
        <span>{{book.volumeInfo.publishDate}}</span>
      </div>
      <div>
        <label for="">
          <strong>Publisher:</strong>
        </label>
        <span>{{book.volumeInfo.publisher}}</span>
      </div>
      <div *ngIf="book.volumeInfo.subtitle">
        <label for="">
          <strong>Subtitle:</strong>
        </label>
        <span>{{book.volumeInfo.subtitle}}</span>
      </div>
      <div>
        <label for="">
          <strong>Description:</strong>
        </label>
        <span>{{book.volumeInfo.description}}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="text-right">
        <button mat-button mat-dialog-close *ngIf="book">
          <i class="material-icons">close</i>
          CLOSE
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
